* {
  margin: 0;
  padding: 0;
}

.header-upper-section {
  background-color: #1f2937;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.right-links {
  display: flex;
}
